

.section--signIn-article__button{
    width: 30rem;
    height: 2.6rem;
    font-size: 1.6rem;
    letter-spacing: 0.1rem;
    opacity: 0.9;
    border-radius: 10px;
}

.button{
    &,
    &:link,
    &:visited {
    font-size: 2rem;
    color: $color-white;
    margin-top: 2rem;
    width: 32rem;
    height: 4rem;
    border-radius: 10px;
    background-image: linear-gradient(to right, rgba($color-primary-dark,1) ,rgba($color-primary-light,1));
    transition: all .2s;
    position: relative;
    display: inline-block;

    //Change for the <button> element
    border: none;
    cursor: pointer;
    }
    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba($color-black,.2);
    }
    
  
    &-card-1{
        text-decoration: none;
        padding: 0.6rem 1rem;
        font-size: 2rem;
        color: $color-white;
        background-image: linear-gradient(to right bottom, 
        rgba($color-secondary-light, .85), 
        rgba($color-secondary-dark, .85));
        transition: all .2s;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            color:rgba($color-black,.6) ;
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        }
        
    }
    &-card-2{
        text-decoration: none;
        padding: 0.6rem 1rem;
        font-size: 2rem;
        color: $color-white;
        background-image: linear-gradient(to right bottom, 
            rgba($color-primary-light, .85), 
            rgba($color-primary-dark, .85));
        transition: all .2s;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            color:rgba($color-black,.6) ;
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        }

        
    }
      &-card-3{
        text-decoration: none;
        padding: 0.6rem 1rem;
        font-size: 2rem;
        color: $color-white;
        background-image: linear-gradient(to right bottom, 
        rgba($color-tertiary-light, .85), 
        rgba($color-tertiary-dark, .85));
        transition: all .2s;
        border-radius: 10px;
        position: relative;
        display: inline-block;
        box-shadow: 0 1rem 2rem rgba($color-black,.2);
        &:hover {
            transform: translateY(-3px);
            box-shadow: 0 1rem 2rem rgba($color-black,.2);
            color:rgba($color-black,.6) ;
    
            &::after {
                transform: scaleX(1.4) scaleY(1.6);
                opacity: 0;
            }
        }
        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            box-shadow: 0 .5rem 1rem rgba($color-black,.2);
        }
        
    }
}