.form {
    &__group:not(:last-child) {
        margin-bottom: -2rem;
        margin-top: 2rem;
    }

    &__input {
        @include respond(tab-land) {
            width: 28rem;
            padding: 1.5rem 2rem;
        }
        margin: 0 auto;
        font-size: 1.5rem;
        font-family: inherit;
        color: inherit;
        padding: 1.5rem 2rem;
        border-radius: 10px;
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 3px solid transparent;
        width: 28rem;
        height: 1.7rem;
        display: block;
        transition: all .3s;    
        @include respond(tab-port) {
            width: 28rem;
            padding: 1.5rem 2rem;
        }
     
        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, .1);
            border-bottom: 3px solid $color-primary;
        }

        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-white;
        }
        }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;
        transition: all .3s;
    }

    &__input:placeholder-shown + &__label {
        
        opacity: 0;
        visibility: hidden;
        transform: translateY(-4rem);
    }
  
}
.check{
    margin-top:2rem;
    margin-right:7.4rem ;
    font-size: 1.6rem;
    &__input{
        margin-right: 1rem;

    }  
   
}
.logo {
    height: 5rem;
    margin-left: 5rem;
}
.search {
    flex: 0 0 40%;
     width: 40rem;
     color:$color-black;
     font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;

    @include respond(phone) {
        order: 1;
        flex: 0 0 100%;
        background-color: $color-grey-light-2;
    }

    &__input {
        font-family: inherit;
        font-size: inherit;
        color: inherit;
        background-color: $color-grey-light-2;
        border: none;
        padding: .7rem 2rem;
        border-radius: 100px;
        width: 90%;
        transition: all .2s;
        margin-right: -3.25rem;

        &:focus {
            outline: none;
            width: 100%;
            background-color: $color-grey-light-3;
        }

        &::-webkit-input-placeholder {
            font-weight: 100;
            color: gray;
        }
        &::placeholder{
            color: gray;
        }
    }

    &__input:focus + &__button {
        background-color: $color-grey-light-3;
    }

    &__button {
        border: none;
        background-color: $color-grey-light-2;

        &:focus {
            outline: none;
        }

        &:active {
            transform: translateY(2px);
        }
    }

    &__icon {
        height: 2rem;
        width: 2rem;
        fill: color-grey-dark-3;
    }
}
.login{
    text-decoration: none;
    margin-right: 2rem;
    color:$color-grey-light-2;
    font-size: 2rem;
    &:hover{
     color: rgb(206, 111, 33);
    }
}